<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\PdInventory.exe" arguments="" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <environmentVariables>
          <!--
            網站維護中：改成 true 並存檔，所有連進網站的人都會被導到「網站維護中」畫面；
            改回 false 恢復正常。IIS 偵測到這個檔案變更會自動重啟網站，不必重新部署。

            Maintenance__Message（選填）：維護畫面上額外顯示的說明，例如預計恢復時間。
          -->
          <environmentVariable name="Maintenance__Enabled" value="false" />
          <environmentVariable name="Maintenance__Message" value="" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
